@font-face {
  font-family: "Faster One";
  src: url("../assets/fonts/FasterOne.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Yellowtail";
  src: url("../assets/fonts/Yellowtail.ttf");
  font-style: normal;
}

@font-face {
  font-family: "霞鹜文楷";
  src: url("../assets/fonts/霞鹜文楷.ttf");
  font-style: normal;
}

@font-face {
  font-family: "PingFang";
  src: url("../assets/fonts/PingFang.ttf");
  font-style: normal;
}
