:root {
  --text-gray-1: #939393;
}

[theme="dark"] {
  --text-primary: #ffffff;
  --container-bg: #1a1a1a;
}

[theme="light"] {
  --text-primary: #474747;
  --container-bg: #ffffff;
}

.theme-text {
  color: var(--text-primary);
}
.theme-bg {
  background-color: var(--container-bg);
}
